@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.uw-font {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
